:root {
  --white: #ffffff;
  --green: #44ff56;
  --blvck: #0a0a0a;
  --border: 2px solid var(--blvck);
}

@font-face {
  font-family: "SFProDisplay";
  src: url("./assets/fonts/SFProDisplay.ttf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "Extended Main";
  src: url("./assets/fonts/Extended-Regular.otf");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  background-color: var(--white);
  font-family: "SFProDisplay";
  height: 100%;
}

::-webkit-scrollbar {
  display: none;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
